<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('.static', filename='images/favicon.ico')}}">

    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
    <!-- google font lib -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <!-- fontawesome styles cdn link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{{url_for('.static', filename='css/mystyles.css')}}">


    <!-- title -->
      <title>Welcome to GrandPybot</title>
</head> <!-- end head -->
<body>

    <!-- top navbar -->
    <nav class="navbar">
        <a class="navbar-brand" href="/index"><img id="logo" src="{{ url_for('.static', filename='images/logo.png')}}" alt="GrandPyBot logo"/></a>
    </nav>

    <!-- content <main> -->
    {% block content %}{% endblock %}

    <!-- footer -->
    <footer class="footer">
          <div class="container text-center">
            <span>Marion Labarre © 2018 -
                <a href="https://github.com/marionl4b/GrandPyBot"> <i class="fab fa-github-alt"></i></a>
            </span>
          </div>
    </footer>

   <!-- scripts -->
    <script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script> <!-- bootstrap -->
    <script src="{{url_for('.static', filename='js/jquery.min.js')}}"></script> <!-- jquery -->
    <script defer="" src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
            integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
            crossorigin="anonymous"></script> <!-- fontawesome -->
    <script src="{{url_for('.static', filename='js/myscript.js')}}"></script> <!-- custom script -->



</body><!-- end body -->
</html>