{% extends "base.html" %}

{% block content %}
    <main role="main">
        <section id="chat" class="container">

        </section>
        <section id="prompt">
            <form name="ajaxForm" action="index.html" method="post">
                <div class="row justify-content-center">
                    <div class="col-7">
                            <label class="sr-only" for="textUserMessage">Votre Message</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" name="usermsg" id="textUserMessage"
                                   placeholder="Tapez votre message">
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn mb-2">Envoyer</button>
                        </div>
                </div>
            </form>
        </section>
    </main>
{% endblock %}