{% extends "base.html" %}

{% block content %}
    <main role="main">
        <section id="chat" class="container">
        </section>
        <section id="prompt">
            <form name="ajaxForm" method="post">
                <div class="row justify-content-center">
                    <div class="col-8 col-md-8 col-lg-7">
                        <label class="sr-only" for="textUserMessage">Votre Message</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" name="usermsg" id="textUserMessage"
                               placeholder="Tapez votre message">
                    </div>
                    <div class="col-4 col-md-2 col-lg-1">
                        <button type="button" id="ajaxButton" class="btn mb-2" onclick="postJson()">Envoyer</button>
                    </div>
                </div>
            </form>
        </section>
    </main>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        /////// gpb javascript library calls ///////
        gpbLib.addGpbBubble("Bonjour Poussin, qu'est ce que je peux faire pour toi?", "none", "success"); //init gpb bubble
        i = 0;

        document.getElementById("textUserMessage").addEventListener("keydown", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("ajaxButton").click();
            }
        });

        function postJson(){
            i++;
            let usermsg = document.getElementById("textUserMessage").value;
            let data = JSON.stringify({userMessage: usermsg});
            gpbLib.addUserBubble();
            gpbLib.ajaxPost("/index", data, success, error, progShow, progHide);


            function success(data, results) { // if post data sent retrieve parsed data result
                                                // from user_message in controler.py
                let resultVal = Object.values(results);
                if (resultVal[0] === "error") {
                    gpbLib.addGpbBubble("Aïe, je n'ai pas compris où tu voulais te rendre",
                        "none", "error"); // display an error message if parsing failed
                } else { // display google map then wikipedia infos
                    let usrGmap = resultVal[0];
                    let usrWiki = resultVal[2];
                    gpbLib.addGpbBubble("Bien sûr mon poussin ! La voici : "+ usrGmap.address, "map" +i, "success");
                    initMap(usrGmap.latitude, usrGmap.longitude);
                    gpbLib.addGpbBubble("Mais t'ai-je déjà raconté l'histoire de ce quartier qui m'a vu en culottes courtes ? "+ usrWiki.summary, "wiki", "success");
                    let wikiBubble = document.querySelector(".wiki");
                    wikiBubble.insertAdjacentHTML("beforeend", '<a href="'+usrWiki.url+'" target="_blank"> (voir sur wikipédia)</a>')
                }
            }

            function error(err, txt) { // if server error
                {#console.log(err, txt)#}
            }
            function progShow() {
                let progWrap = document.createElement("div");
                let progImg = document.createElement("div");
                let chat = document.getElementById("chat");
                progWrap.classList.add("progress-wrapper");
                progImg.classList.add("progress-show");
                progImg.insertAdjacentHTML("afterbegin", "<i class='fas fa-compass fa-3x fa-spin'></i>" );
                progWrap.appendChild(progImg);
                chat.appendChild(progWrap);
            }
            function progHide() {
                let progImg = document.querySelector(".progress-show");
                progImg.classList.remove("progress-show");
                progImg.classList.add("progress-hide");
            }
        }

        function initMap(latitude, longitude) {
            let userLocation = {lat: latitude, lng: longitude};
            let map = new google.maps.Map(
                document.getElementById('map' + i), {zoom: 15, center: userLocation});
            let marker = new google.maps.Marker({position: userLocation, map: map});

        }
    </script>
{% endblock %}